{
    "presets": [
        "babel-preset-react",
        "babel-preset-env"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}